body{
    background-color: rgba(146,188,212,0.56);
}
/*导航栏*/
ul.header{
    list-style-type: none;
    margin: 0;
    padding: 0px 0px;
    width: 100%;
    height: 49px;
    overflow: visible;
    background-color: dodgerblue;
}
ul.header li {
    height: 49px;
    display: block;
    float: left;
}
ul.header li.left a {
    display: block;
    color: black;
    width: 70px;
    height: 21px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.header li.left a:hover{
    color: #09000b;
    background-color: #49ff82;
}
/*导航栏*/

/*下拉菜单*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdownbtn {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    width: 140px;
    height: 49px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    position: absolute;
    display: none;
    width: 140px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content  a{
    list-style-type: none;
    text-align: left;
    color: black;
    min-width: 140px;
    height: 40px;
    text-decoration-line: none;
    display: block;
}
.dropdown-content a img{
    padding: 0 0 0 0;
    height: 30px;
    width: 30px;
    float: left;
    overflow: hidden;
}
.dropdown-content a p{
    margin: 0;
    float: left;
    font-size: 20px;
    text-align: -moz-left;
}
.dropdown-content a:hover {
    cursor: pointer;
    background-color:#4CAF50;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*下拉菜单*/

/*主要内容*/
div.main{
    width: 100%;
    background-color: rgba(146,188,212,0.56);
}
div.main div.search{
    margin: 0 10% 0 10%;
    height: 50px;
    width: 80%;
}
div.searchType{
    float: left;
    margin: 0 20px 0 0;
    height: 50px;
    width: 25%;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
}
div.searchType input{
    float: left;
    margin: 10px 0 10px 0;
    height: 30px;
    width: auto;
}
div.searchType p{
    float: left;
    margin:10px 5px 10px 5px;
    height: 30px;
    text-align: -moz-left;
    font-size: 20px;
}
div.searchContent input:nth-child(1){
    float: left;
    margin: 7px 0 7px 7px;
    border:  rgba(2,4,7,0.96) 3px solid;
    padding: 0 0 0 2px;
    width:25%;
    height: 30px;

    text-align:left;
    font-size: 15px;
}
div.searchContent input:nth-child(2){
    background-color: rgba(2,4,7,0.56);
    float: left;
    margin: 7px 7px 7px 0;
    padding:  0;
    width: 10%;
    height: 36px;
    text-align: center;
    font-size: 15px;
    color: #f1f1f1;
}
div.searchContent input:nth-child(2):hover{
    background-color: rgba(2,4,7,0.96);
}/*搜索栏*/

ul.searchResult{
    padding: 20px 0 20px 0 ;
    margin: 10px 10% 10px 10%;
    width: 80%;
    background-color: rgba(173,189,194,0.56);
}
ul.searchResult li{
    margin: 20px 10% 20px 10%;
    border: black solid 2px;
    height: 120px;
    width: 80%;
}
ul.searchResult li img{
    height: 120px;
    width: auto;
    float: left;
}
ul.searchResult li h{
    color: red;
    font-size: 30px;
}
ul.searchResult li p{
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}
p.page{
    clear: both;
    float: bottom;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding:0 0 50px 0;
}

footer{
    width: 100%;
    height: 80px;
    color: gray;
    font-size: large;
    font-weight: bold;
    text-align: center;
}





















footer{
    text-align: center;
}

















